@model DnSrtChecker.Models.ViewModels.StoreGroupViewModel

@{
    ViewData["Title"] = "Delete";
}


    <div class="container">
        <a onclick="history.go(-1);" class="btn btn-manage"><i class="fa fa-chevron-left iconColorStyleRetex"></i></a>

        <h2 class="titlePage">Cancellazione Insegna</h2>

        <h3>Sei sicuro che vuoi cancellare questa Insegna?</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Descrizione")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SzDescription)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="LStoreGroupId" />
            <input type="submit" value="Delete" class="btn btn-manage" />            
        </form>
    </div>
